extends ../layout

block content
    form.form-horizontal(action='/quiz/submit/'+quiz._id, method='post')
        fieldset
            legend= title
            .form-group
                label.col-md-2.control-label(for='task') Task
                .col-md-10
                    select#task.form-control(name='task')
                        option(value='') Select one
                        - for (var i = 0; i < quiz.problems.length; i++)
                            option(value=quiz.problems[i])= quiz.problems[i]
            .form-group
                label.col-md-2.control-label(for='code') Code
                .col-md-10
                    textarea#code.form-control(name='code')
            .form-group
                label.col-md-2.control-label(for='lang') Language
                .col-md-10
                    select#lang.form-control(name='lang', onchange='change();')
                        - for (var i = 0; i < langs.length; i++)
                            option(value=langs[i].lang)= langs[i].lang
            .form-group
                .col-md-10.col-md-offset-2
                    button.btn.btn-primary(type='submit') Submit
    .panel.panel-primary
        .panel-heading 
            h4 Your submits
        .panel-body
            table.table.table-striped.table-hover
                thead
                    tr
                        th Number
                        th Points
                        th
                tbody
                    - for (var i = submits.length - 1; i >= 0; i--)
                        tr
                            td= i + 1
                            - var blq = submits[i]['feedback']
                            td
                                - for (var j of blq)
                                    span= j + ' '
                            td
                                a.btn.btn-primary(href = '../details/' + submits[i]['idT']) Details
                
                
                    
block scripts
    script(src='/codemirror/lib/codemirror.js')
    script(src='/codemirror/addon/mode/simple.js')
    script(src='/codemirror/addon/fold/foldcode.js')
    script(src='/codemirror/mode/clike/clike.js')
    script(src='/codemirror/mode/haskell/haskell.js')
    script(src='/codemirror/mode/rust/rust.js')
    script(src='/codemirror/mode/python/python.js')
    script(src='/submitQuiz.js')

block styles
    link(rel='stylesheet', type='text/css', href='/codemirror/lib/codemirror.css')
